{% extends "layouts/_default.twig" %}
{% block main_content %}
    <ul>
        {% for question in questions %}
            <li>
            {{question.name}} -
            <a href="/questions/{{question.id}}/edit">Edit</a>
            |
            <a href="/questions/{{question.id}}/delete">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}